[Unit]
Description=Shutting down docker compose stacks
After=docker.service

[Service]
User=privnet
Group=privnet
Type=oneshot
ExecStop=/lxc/scripts/compose-boot.sh

[Install]
WantedBy=multi-user.target
