networks:
  homelabnetwork:
    external: true

services:
  dispatcharr:
    image: ghcr.io/dispatcharr/dispatcharr:latest
    container_name: dispatcharr
    # user: ${PUID}:${PGID} # This container requires joining another containers network
    cap_add:
      - SYS_NICE
    environment:
      # - PUID=${PUID}
      # - PGID=${PGID}
      - TZ=${TZ}
      - NVIDIA_DRIVER_CAPABILITIES=all
      - NVIDIA_VISIBLE_DEVICES=all
      - DISPATCHARR_ENV=aio
      - REDIS_HOST=localhost
      - CELERY_BROKER_URL=redis://localhost:6379/0
      - DISPATCHARR_LOG_LEVEL=info
      - UWSGI_NICE_LEVEL=${DISPATCHARR_STREAMING_PRIORITY}
      - CELERY_NICE_LEVEL=${DISPATCHARR_EPG_PRIORITY}
    volumes:
      - ./dispatcharr:/data
      - /etc/localtime:/etc/localtime:ro
    runtime: nvidia
    gpus: all
    network_mode: container:gluetun
    healthcheck:
      test: sh -c "ping -c1 8.8.8.8 >/dev/null 2>&1 && nslookup www.google.com >/dev/null 2>&1 && curl -s http://localhost:9191 || exit 1"
      interval: 20s
      timeout: 10s
      retries: 5
    labels:
      - deunhealth.restart.on.unhealthy=true
    restart: unless-stopped

# Note: This file will use the .60-.69 range for homelabnetwork ip-addresses
