[Unit]
Description=Shutting down docker compose stacks
After=docker.service

[Service]
User=<username>
Group=<username>
Type=oneshot
ExecStop=/lxc/scripts/compose-boot.sh

[Install]
WantedBy=multi-user.target
