[Unit]
Description=Shutting down docker compose stacks
After=docker.service

[Service]
User=media
Group=media
Type=oneshot
ExecStop=/lxc/scripts/compose-shutdown.sh

[Install]
WantedBy=multi-user.target
