[Unit]
Description=Booting docker compose stack for gluetun
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/root/scripts/gluetun-boot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
