[Unit]
Description=NVIDIA Persistence service
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/root/scripts/nvidia-persistence.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
