[Unit]
Description=NVIDIA Persistence service
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/root/scripts/nvidia-persistence.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
