[Unit]
Description=NVIDIA Persistence Daemon
After=multi-user.target

[Service]
Type=forking
ExecStart=/usr/bin/nvidia-persistenced --verbose
ExecStop=/bin/kill -s SIGTERM $MAINPID
PIDFile=/var/run/nvidia-persistenced/nvidia-persistenced.pid
Restart=always

[Install]
WantedBy=multi-user.target
