[Unit]
Description=PIA connection service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/root/scripts/vpn-connect.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
