networks:
  homelabnetwork:
    name: homelabnetwork
    ipam:
      config:
        - subnet: 172.39.0.0/24

services:
  deunhealth:
    image: qmcgaw/deunhealth
    container_name: deunhealth
    user: ${PUID}:${PGID}   
    environment:
      - LOG_LEVEL=info
      - HEALTH_SERVER_ADDRESS=127.0.0.1:9999
      - TZ=${TZ}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    network_mode: "none"
    restart: always

  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    user: ${PUID}:${PGID}   
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8080:8080 # qbittorrent web interface
      - 6881:6881 # qbittorrent torrent port
      - 6789:6789 # nzbget
      - 9696:9696 # prowlarr
      - 9191:9191 # dispatcharr
    networks:
      homelabnetwork:
        ipv4_address: 172.39.0.10
    volumes:
      - ./gluetun:/gluetun
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - VPN_SERVICE_PROVIDER=${VPN_SERVICE_PROVIDER}
      - VPN_TYPE=${VPN_TYPE}
      - FIREWALL_OUTBOUND_SUBNETS=172.39.0.0/24 # Make the VPN able to talk over the homelabnetwork, this is needed for some people
      - OPENVPN_USER=${OPENVPN_USER}
      - OPENVPN_PASSWORD=${OPENVPN_PASSWORD}
      - SERVER_REGIONS=${SERVER_REGIONS}
      - DNS_SERVER=on
      - DNS_UPSTREAM_RESOLVERS=cloudflare,google # Makes the DNS requests snet to random resolvers 
      - HEALTH_VPN_DURATION_INITIAL=${HEALTH_VPN_DURATION_INITIAL}
    healthcheck:
      test: sh -c "ping -c1 8.8.8.8 >/dev/null 2>&1 && nslookup www.google.com >/dev/null 2>&1 || exit 1"
      interval: 20s
      timeout: 10s
      retries: 5
    labels:
      - deunhealth.restart.on.unhealthy=true
    restart: unless-stopped

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    user: ${PUID}:${PGID}   
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - LOG_LEVEL=info
    network_mode: container:gluetun
    healthcheck:
      test: curl -s http://localhost:8191 || exit 1
      interval: 30s
      retries: 6
      timeout: 10s
    # labels:
    #   - deunhealth.restart.on.unhealthy=true
    restart: unless-stopped
