[Unit]
Description=Timer for the update-cloudflare-ips.service

[Timer]
Unit=scrutiny.service
OnBootSec=5min
OnUnitActiveSec=24h

[Install]
WantedBy=timers.target
