networks:
  homelabnetwork:
    external: true

services:
  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    user: ${PUID}:${PGID}   
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}    
      - ND_LOGLEVEL=info
    networks:
      homelabnetwork:
        ipv4_address: 172.39.0.50
    ports:
      - 4533:4533
    volumes:
      - ./navidrome:/data
      - /path/to/your/music/folder:/music:ro
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      test: curl -s http://localhost:4533 || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      - deunhealth.restart.on.unhealthy=true
    restart: unless-stopped
