[Unit]
Description=Mount media NFS Share
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 5
ExecStart=/node/scripts/mount-media.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
