[Unit]
Description=Mount downloads NFS Share
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 5
ExecStart=/node/scripts/mount-downloads.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
