networks:
  homelabnetwork:
    external: true

services:
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=info
      - TZ=${TZ}
    network_mode: container:gluetun
    healthcheck:
      test: curl -s http://localhost:8191 || exit 1
      interval: 30s
      retries: 3
      timeout: 10s
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./prowlarr:/config
    network_mode: container:gluetun
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./sonarr:/config
      - /mnt/nas:/mnt/nas
    ports:
      - 8989:8989
    networks:
      homelabnetwork:
        ipv4_address: 172.39.0.30
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./radarr:/config
      - /mnt/nas:/mnt/nas
    ports:
      - 7878:7878
    networks:
      homelabnetwork:
        ipv4_address: 172.39.0.31
    restart: unless-stopped

  lidarr:
    container_name: lidarr
    image: lscr.io/linuxserver/lidarr:latest
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./lidarr:/config
      - /mnt/nas:/mnt/nas
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    ports:
      - 8686:8686
    networks:
      homelabnetwork:
        ipv4_address: 172.39.0.32
    restart: unless-stopped

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./bazarr:/config
      - /mnt/nas:/mnt/nas
    ports:
      - 6767:6767
    networks:
      homelabnetwork:
        ipv4_address: 172.39.0.33
    restart: unless-stopped
